.cart {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: rgba(0, 0, 0, 0.557);
	transition: all 0.4s ease 0s;
	z-index: 20;
}

.cart--enabled {
	opacity: 1;
	visibility: visible;
}

.cart--disabled {
	opacity: 0;
	visibility: hidden;
}

.cart__area {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.cart__wrapper {
	width: 600px;
	height: 100%;
	background-color: #f3f3f7;
	padding: 10px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart__wrapper--enabled {
	animation-name: slideIn;
	animation-duration: 0.4s;
}

@keyframes slideIn {
	from {
		transform: translate(100%, 0px);
	}

	to {
		transform: translate(0px, 0px);
	}
}

.cart__wrapper--disabled {
	animation-name: slideOut;
	animation-duration: 0.4s;
}

@keyframes slideOut {
	from {
		transform: translate(0px, 0px);
	}

	to {
		transform: translate(100%, 0px);
	}
}

.cart__title {
	font-size: 25px;
	margin: 10px 0 10px 10px;
	font-weight: 600;
}

.cart__stats {
	margin: 5px 0 10px 10px;
	font-size: 16px;
}

.cart__item-wrapper {
	padding: 0px 10px;
	overflow-y: auto;
}

.cart__order-wrapper {
	background: #ffffff;
	padding: 10px;
}

.cart__order {
	background: var(--main-color);
	color: #ffffff;
	padding: 10px;
	border-radius: 50px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
}
